<ion-view title="Consumer Registration">
    <ion-content padding="true" class="has-header">
        <div>
            <p>
                <strong>Hi!</strong>Why dont we start with some introductions...</p>
        </div>
        <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center; width: 100%; height: auto;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="spacer" style="width: 300px; height: 23px;"></div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Firstname, Other names">
            </label>
            <div class="spacer" style="width: 300px; height: 15px;"></div>
            <label class="item item-select">
                <span class="input-label">Select Country</span>
                <select></select>
            </label>
            <div class="spacer" style="width: 300px; height: 21px;"></div>
            <label class="item item-input">
                <span class="input-label">Date of Birth</span>
                <input type="date" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 20px;"></div>
            <div>
                <p>
                    <strong>You can reach me at</strong>
                </p>
            </div>
            <label class="item item-input">
                <span class="input-label">Phone</span>
                <input type="tel" placeholder="+254">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Email">
            </label>
            <div class="spacer" style="width: 300px; height: 26px;"></div>
            <div>
                <p>
                    <strong>Authentication</strong>
                </p>
            </div>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Enter your password">
            </label>
            <label class="item item-input">
                <span class="input-label">Confirm</span>
                <input type="password" placeholder="Confirm">
            </label>
            <div class="spacer" style="width: 300px; height: 39px;"></div>
            <div class="button-bar">
                <button class="button button-positive button-outline button-block ">Register</button>
            </div>
        </form>
    </ion-content>
</ion-view>