<ion-view title="Feedback">
    <ion-content padding="true" class="has-header">
        <div>
            <p>Tell us what you like about our app, or what you think we could do better.</p>
        </div>
        <div class="spacer" style="width: 300px; height: 29px;"></div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label"></span><textarea ng-model="feedback" placeholder="Enter your feedback here"></textarea>
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 37px;"></div>
        <button class="button button-positive button-block" ng-click="recordFeedback(feedback); feedback = ''">Submit Feedback</button>
    </ion-content>
</ion-view>