<ion-view title="Inbox" ng-init="callDetails = { callLater : false }">
    <ion-nav-buttons side="primary">
        <a class="button button-clear button-assertive" ui-sref="{{user.userType == 'doctor' ? 'providerDashboard' : 'consumerDashboard'}}">
            Back
        </a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list>
            <a class="item item-avatar item-button-right"
               ng-repeat="(key, message) in messages track by $index"
               ui-sref="chats( { user : message.email, names :  message.from, recipient : message.recipient , number : message.number} )">
                <img ng-src="img/avatar-1-128.jpg">
                {{message.from}}
                <p>{{message.speciality}}</p>
                <span class="badge badge-assertive" ng-hide="message.count == 0">{{message.count}} unread</span>
            </a>
        </ion-list>
    </ion-content>
</ion-view>