<ion-view title="Provider View">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>Dr Harimohan</h2>
                <p>Internal Medicine, MmChB</p>
            </ion-item>
        </ion-list>
        <h4>About Me</h4>
        <div>
            <p>Hello, my name is Bhavani Harimohan. I trained in Kenya and the United States, and specialise in adult medicine.</p>

            <p>I care about delivering appropriate care, and treating my patients with respect.</p>

            <p>I hold both in-person and virtual appointments. You can schedule a consultation through ConnectHealth, or directly through my office. I look forward to being your doctor!</p>
        </div>
        <div class="button-bar">
            <button class="button button-energized button-clear button-large icon ion-map"></button>
            <button class="button button-balanced button-clear button-large icon ion-android-call"></button>
            <a href="#/schedule-appointment" class="button button-assertive button-clear button-large icon ion-ios-calendar-outline"></a>
        </div>
    </ion-content>
</ion-view>