<ion-view title="Provider Registration">
    <ion-content padding="true" class="has-header">
        <ion-list></ion-list>
        <div class="item item-avatar">
            <img src="img/avatar-1-128.jpg">
            <h2>Marty McFly</h2>
            <p>November 05, 1955</p>
        </div>
        <form class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    I am a
                </div>
                <select ng-model="payment.mode">
                    <option value="doctor">Doctor</option>
                    <option value="consumer">Consumer</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Names</span>
                <input type="text" placeholder="Firstname, Other names">
            </label>
            <label class="item item-input">
                <span class="input-label">Speciality</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div>
            <p>
                <strong>Education</strong>
                <button class="button icon-left ion-star button-positive">Favorites</button>
            </p>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">University</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Field of Study</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 25px;"></div>
            <label class="item item-input">
                <span class="input-label">Current Location</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button class="button button-positive button-outline button-block ">Sign Up</button>
    </ion-content>
</ion-view>