<ion-view title="Service Request" ng-init="request = { type : 'call' }">
    <ion-nav-buttons side="primary">
        <a class="button button-clear button-assertive" ui-sref="search">
            Back
        </a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-item class="item-thumbnail-left">
            <img src="img/avatar-1-128.jpg">
            <h2>Dr. {{doctor.info.names}}</h2>
            <p>{{doctor.info.education}}</p>
            <p>{{doctor.info.speciality}}</p>
        </ion-item>
        <div class="spacer" style="width: 100%; height: 50px;"></div>

        <ion-list>
            <label class="item item-input item-select">
                <div class="input-label">
                    Appointment Type
                </div>
                <select ng-model="request.type">
                    <option value="call">Call</option>
                    <option value="in-person">In Person</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">What seems to be the matter?</span>
                <input type="text" ng-model="request.symptoms" placeholder="Enter symptoms or complaints here">
            </label>

            <div class="spacer" style="width: 100%; height: 50px;"></div>

            <a class="button button-block button-positive"
               ng-show="request.type == 'in-person'"
               ui-sref="scheduleAppointment">
                Schedule
            </a>
            <a class="button button-block button-balanced"
               ng-show="request.type == 'call'"
               ui-sref="payment( {doctor : doctor, request : request} )">
                Payment
            </a>
        </ion-list>
    </ion-content>
</ion-view>