<ion-view title="Pending">
    <ion-nav-buttons side="primary">
        <a class="button button-clear button-assertive" ui-sref="providerDashboard">
            Back
        </a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list>
            <a
                class="item item-thumbnail-left item-button-right"
                ng-repeat="request in requests track by $index"
                ui-sref="callResponse({ request : request })">
                    <img src="img/patient.jpeg">
                    <h2>{{request.patient.names}}</h2>
                    <p>Complaints : {{request.symptoms}}</p>
                    <p>Made {{getTimeLapse(request.date)}}</p>
                    <p>Type : {{request.type | types}}</p>
            </a>
        </ion-list>
    </ion-content>
</ion-view>