<ion-view title="Home">
    <ion-nav-buttons side="secondary">
        <a class="button button-clear button-positive"
                ui-sref="feedback">
            Feedback
        </a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <div class="list">
            <a class="item item-icon-left" ui-sref="requests">
                <i class="icon ion-android-mail"></i>
                Client Requests
                <span class="badge badge-assertive" ng-hide="requestCount == 0">{{requestCount}}</span>
            </a>

            <a class="item item-icon-left item-icon-right" ui-sref="messages">
                <i class="icon ion-chatbubbles"></i>
                Messages
                <span class="badge badge-assertive" ng-hide="messageCount == 0">{{messageCount}}</span>
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-calendar"></i>
                Appointments
                <span class="badge badge-positive">[soon]</span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-medkit"></i>
                Prescriptions
                <span class="badge badge-positive">[soon]</span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-beaker"></i>
                Lab Investigations
                <span class="badge badge-positive">[soon]</span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-cash"></i>
                Payments Received
                <span class="badge badge-positive">[soon]</span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-android-people"></i>
                Forum
                <span class="badge badge-positive">[soon]</span>
            </a>

            <a class="item item-icon-left" ng-click="logout()">
                <i class="icon ion-key"></i>
                Log Out
            </a>
        </div>
    </ion-content>
</ion-view>