<ion-view title="Schedule Appointment" ng-init="appointment = {}">
    <ion-nav-buttons side="primary">
        <a class="button button-clear button-assertive" ui-sref="consumerDashboard">
            Back
        </a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <div class="item item-divider">
            Appointment Details
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="date" ng-model="appointment.date" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Time</span>
                <input type="time" ng-model="appointment.time">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 40px;"></div>
        <button class="button button-positive button-block" ng-click="schedule(appointment)">Request</button>
    </ion-content>
</ion-view>