<ion-view title="Registration" ng-init="confirmedPassword=''">
    <ion-content padding="true" scroll="true" class="has-header">
        <form class="list" name="signUpForm">
            <ion-list>
                <!--<div class="item item-divider">-->
                    <!--I am a-->
                <!--</div>-->
                <!--<ion-radio name="doc" ng-model="registration.userType" ng-value="'doctor'">Doctor</ion-radio>-->
                <!--<ion-radio name="doc" ng-model="registration.userType" ng-value="'consumer'">Consumer</ion-radio>-->
                <!--<div class="spacer" style="width: 300px; height: 20px;"></div>-->
                <div class="item item-divider">
                    Basic Details
                </div>
                <!--<button class="button button-positive button-block" ng-show="!facebookMode" ng-click="facebookLogin()">Connect with Facebook</button>-->
                <label class="item item-input">
                    <span class="input-label">Names</span>
                    <input type="text" name="names" ng-model="registration.names" placeholder="">
                </label>
                <div class="form-errors" ng-messages="signUpForm.names.$error" ng-messages-include="templates/form-errors.html">
                    <div class="form-error" ng-message="required">User's names are required for signup</div>
                </div>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="registration.email" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Phone</span>
                    <input type="text" ng-model="registration.phone" placeholder="E.g 0712345678 (Numbers only, no spaces)">
                </label>
                <div ng-show="registration.userType == 'doctor'">
                    <!--<label class="item item-input">-->
                        <!--<span class="input-label">Registration Number</span>-->
                        <!--<input type="text" ng-model="registration.regnum" placeholder="Medical board registration / License number">-->
                    <!--</label>-->
                    <label class="item item-input">
                        <span class="input-label">Title</span>
                        <input type="text" ng-model="registration.title" placeholder="E.g Dr / Prof ">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Speciality</span>
                        <input type="text" ng-model="registration.speciality" placeholder="E.g Cardiologist">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Education</span>
                        <input type="text" ng-model="registration.education" placeholder="E.g MMed, Uon">
                    </label>
                    <!--<label class="item item-input">-->
                        <!--<span class="input-label">Consultation Fee (Kshs.)</span>-->
                        <!--<input type="text" ng-model="registration.fee" placeholder="">-->
                    <!--</label>-->
                    <label class="item item-input">
                        <span class="input-label">Location</span>
                        <input type="text" ng-model="registration.location" placeholder="E.g Doctor's Plaza, 4th Floor, Nairobi">
                    </label>
                </div>
                <div class="spacer" style="width: 300px; height: 20px;"></div>
                <div ng-show="!facebookMode">
                    <div class="item item-divider">
                        Login Details
                    </div>
                    <label class="item item-input">
                        <span class="input-label">Password</span>
                        <input type="password" placeholder="" ng-model="registration.password">
                    </label>
                    <label class="item item-input">
                        <span class="input-label" >Confirm Password</span>
                        <input type="password" placeholder="" ng-model="confirmedPassword">
                    </label>
                </div>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 83px;"></div>
        </form>
        <button class="button button-balanced button-block" ng-click="signUp(registration, confirmedPassword)">Sign up</button>
    </ion-content>
</ion-view>